.file-input-sm {
    padding: 1rem !important;
    width: 60%;
}

.invalid-feedback {
    font-size: 16px;
    /*    stroke: black;
        stroke-width    : .5px;
        stroke-linejoin : round;
        text-shadow: #000 2px 2px 2px;*/
    /*background: white;
    border: 1px solid red;*/

}

.valid-feedback {
    font-size: 16px;

    /*    stroke: black;
        stroke-width    : .5px;
        stroke-linejoin : round;
        text-shadow: #000 2px 2px 2px;*/
    /*background: white;
    border: 1px solid red;*/

}
.sign-in-form {
    background-color: #61dafb;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 5%;
    padding: 1rem!important;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: -1px 4px 20px -6px black;
}

.validation-helper{
    position: relative;
}