.topLine-left {
    flex: 0.5;
    justify-content: space-between;
}

.add-conversation {
    position:absolute;
    right: 65%;
    padding: 7px;
    /* float: right; */
    /* flex: 1; */
}
.add-conversation:hover {
    cursor: pointer;
    background-color: lavender;
    
}

.top-left-username {
    flex: 1;
}

.top-profile-image {
    height: 250%;
    margin-left: 2%;
    position: relative;
    border-radius: 50%;
    width: 70px;
}