.left-chat-item {
    flex-direction: row;
    display: flex;
    /* height: 20%; */
    justify-content: center;
    align-items: center;
    background-color: #C0D9FF;
    margin: 0;
    border: 2px solid lightgray;
    border-top: 1px solid lightgray;

}

.mid-item {

    /* flex: 1; */
    width: 80%;
    /* height: 20%; */
    display: flex;
    padding: 20px;
    /* padding: 20px; */
    flex-direction: column;


    /* background-color: rgb(231, 242, 243); */
    /*     padding: 1rem; */
    /* justify-content: space-around; */
}

.left-chat-item:hover {
    cursor: pointer;
    background-color: lavender;
}

.chat-member-name {

    /* float: left; */
    /* padding-left: 10%; */
    font-size: 1.25rem;
    /* margin-bottom: 0.5rem; */
    font-weight: 500;
    line-height: 1.2;
    /* margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    text-align: var(--bs-body-text-align);
}

.chat-last-message {
    color: grey;
    /* /* padding-right:  45%; */
    /* padding-left: 20%; */
    flex-direction: column;

    padding-top: 1rem;
    width: 100%;
    /* flex: 1; */
    /* padding: 20px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* width: available; */
}



.chat-profile-image {
    /* height: 250%; */
    /* width: 70px; */
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    border-radius: 50%;
    width: 100%;
    /* margin: auto;
    display: block;

    justify-content: center;
    align-items: center; */

}

.last-message-time {
    display: flex;
    color: grey;
    float: right;
    align-self: end;
    margin: 1%;
    /* width: 0%; */
}


.left-image {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    /* padding: 5px; */
    padding: 2%;
    padding-left: 3%;

}
